/* ==========================================================================
   Styles
   ========================================================================== */

/*body {
            padding-top: 50px;
            padding-bottom: 20px;
            }*/
       

/*div {
    border: 1px solid #333333;
    padding: 50px
}*/

* {
    box-shadow: none !important;
}


html {
    max-width: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    color: #789d4a;
    text-transform: uppercase;
    font-weight: bold;
}

h5 {
    font-size: 12px;
}

.fontAwesome {
  font-family: Helvetica, 'FontAwesome', sans-serif;
}

.top-bar {
    background-color: #e4ecd5;
    display: flex;
    align-items: center;
    height: 40px;
    margin: 0px;
}

.top-bar .top-bar-text p {
    text-align: center;
    margin-bottom: 0px;
}

.top-bar .top-bar-text span.shop-here {
    text-transform: uppercase;
    font-weight: bold;
    color: #789d4a;
    margin-left: 10px;
}

.top-bar .top-bar-text i {
     color: #789d4a;
    font-size: 11px
}


.mini-menu .mini-menu-items .social-links {
    margin-top: 5px;
    margin-bottom: 5px;
    float: left;
    padding-right: 10px;
}

.mini-menu .mini-menu-items .social-links i {
    font-size: 16px;
    padding: 5px;
    color: #789d4a;
    
}


.mini-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.mini-menu .mini-menu-items {
   width: 100%;
}


.mini-menu .mini-menu-links ul {
    margin-left: 50px;
}


.mini-menu .mini-menu-links li {
    display: inline;
    float: left;
    margin-top: 7px;
    padding-left: 6px;
    font-size: 11px
}

.mini-menu .mini-menu-links li span {
    color: #dbdbdb;
    margin-left: 6px
}

.mini-menu .mini-menu-account-links li {
    display: inline;
    float: right;
    padding-left: 6px;
    font-size: 11px;
    margin-top: 7px;   
}

.mini-menu .mini-menu-account-links i {
    font-size: 12px;
    padding-right: 5px;
    color: #789d4a;
    
}

.mini-menu .mini-menu-account-links li {
    padding-left: 6px;
    font-size: 11px;
    padding-right: 6px
}

#header-main {
    border-top: 1px solid #eeeeee;
}

.header .logo-container img {
    margin-left: 25%;
    width: 50%;
    max-width: 263px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.search-container input[type="search"] {
    width: 80%;
    margin-left: 10%;
    height: 30px;
    margin-top: 27.5px;
    border: 1px solid #dadcdd;
    border-radius: 3px;
    padding: 5px;
     
}

.search-container {
    height: 65px;
    margin-bottom: 20px;
    margin-top: 50px;
}

.newsletter-promo {
    position: relative;
}

.newsletter-promo h4 {
    text-align: center;
    margin: 0px;
}

.newsletter-promo i {
    font-size: 50px;
    vertical-align: middle;
    padding-right: 10px;
    color: #789d4a;
}

.newsletter-promo p {
    text-align: center;
    /*margin-top: -12px;*/
    padding-right: 10px;
    padding-left: 10px;
}


.cart-info-container {
    margin-top: 34px;
    margin-left: -20px;
    text-align: center;
}

.cart-info-container select {
    display: inline;
    width: auto;
    padding: 3px;
    margin-left: 5px;
}

/* MEGA MENU */

/*nav .navbar li {
    text-transform: uppercase;
}*/

.menu-item {
    text-transform: uppercase;
}

.megamenu.dropdown-menu {
    height: 400px;
    overflow: auto;
}

.navbar-default{
background-color: #fff !important;;
border-color: #eeeeee;
background-image: none;
border-top: 1px solid #eeeeee;
}

.navbar.navbar-default.navbar-static-top {
    position: fixed;
    top: 0px;
    padding-right: 10px;
    width: 90%;
    height: 85px;
    padding-bottom: 100px;
}

.navbar.navbar-default.navbar-static-top img {
    max-width: 200px;
}


.navbar-header button {
    margin-top: 30px
}



.navbar-collapse {
    margin-top: 28px;
    background-image: none;
    background-color: #fff;
}

.navbar-default .navbar-nav > .dropdown > a .caret{
	border-top-color: #fff;
    border-bottom-color: #fff;
}

.menu-large {
  position: static !important;
}
.megamenu{
  padding: 20px 0px;
  width:100%;
}
.megamenu> li > ul {
  padding: 0;
  margin: 0;
}
.megamenu> li > ul > li {
  list-style: none;
}
.megamenu> li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #838383;
  white-space: normal;
}
.megamenu> li ul > li > a:hover,
.megamenu> li ul > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.megamenu.disabled > a,
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
  color: #999999;
}
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.megamenu.dropdown-header {
  color: #428bca;
  font-size: 18px;
}

@media (max-width: 768px) {
  .megamenu{
    margin-left: 0 ;
    margin-right: 0 ;
  }
  .megamenu> li {
    margin-bottom: 30px;
  }
  .megamenu> li:last-child {
    margin-bottom: 0;
  }
  .megamenu.dropdown-header {
    padding: 3px 15px !important;

  }
  .navbar-nav .open .dropdown-menu .dropdown-header{
	color:#fff;
  }
    
}

/* MEGA MENU CONTENT */

.brands-featured {
    padding-left: 30px;
    padding-top: 30px;
}

.brands-featured i, .brands-featured h4 {
    color: #789d4a;
    font-weight: bold;
    text-align: left;
}

.brands-featured i {
    font-size: 17px;
    padding-right: 10px;
}

h4 {
    font-size: 16px;
}

.brands-featured p {
    text-transform: lowercase;
    line-height: 1.8;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    
}

.flexy {
    background-color: #f6f6f6;
    width: 100px;
    height: 60px;
    margin-left: 50px;
    margin-top: 20px;
}

/*Makeup menu */

.makeup-hero {
    border-radius: 50%;
}

.makeup-menu i, .makeup-menu h4 {
    color: #789d4a;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.makeup-menu i {
    font-size: 17px;
    padding-right: 10px;
}

.makeup-menu img {
    display: block;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 20px;
    padding-top: 20px;
}

.makeup-menu .dropdown-header {
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    margin-top: 20px;
}

.theme-button {
    text-align: center;
    display: block;
    margin: 0 auto;
    background-color: #789d4a;
    color: white;
    box-shadow: none;
    border: solid 1px #789d4a;
    padding: 5px 15px;
    border-radius: 3px;
}

.makeup-article {
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.makeup-article .feature-image {
    background-color: #f6f6f6;
    width: 60%;
    height: 80px;
    margin-left: 50px;
    margin-top: 20px;
    display: block;
    margin: 0 auto;
}

.makeup-article p {
    font-size: 12px;
}



/********* END MEGA MENU *************/

/* SLIDER */

section.hero-slider {
    margin-top: -25px !important;
}

.bx-wrapper .bx-controls-direction a {
    z-index: 900;
}

.bxslider, .slider, .hero-slider {
    position: relative;
    width: 100%;
}

.slider-text {
    position: absolute;
    top: 12%;
    left: 40%;
    z-index: 900;
    margin: 0 auto;
    text-align: left;  
}

.slider-text h4, .slider-text h2 {
    color: #582800;
}

.slider-text h2 {
    text-transform: uppercase;
    font-size: 55px;
    font-weight: normal;
}

.slider-text h4 {
    text-transform: capitalize;
    font-weight: normal;
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 15px;
}

.slider button {
    margin-top: 22%;
}

section.hero-slider {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

/* MOST POPULAR PRODUCTS */

.most-popular .most-popular-heading h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: -15px;
    display: block;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
}


.most-popular .most-popular-heading i {
    padding: 10px;
}

section.most-popular {
    border-top: 1px solid #dadcdd;
    margin-top: -30px;
}

.popular {
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: 233px;
    z-index: 1;
}

.popular-product-block {
    margin-top: 30px;
}

.grey-block {
    position: relative;
    background-color: rgba(208,208,208,0.5);
    height:30px;
    margin-top: -20px;
    z-index:9999;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    
}

.grey-block i {
    width: 30%;
    float:left; 
    text-align: right;
    padding-right: 10px;
    padding-top: 6px;
    color: #666666;
}

.grey-block p {
    text-align: left;
    float: right;
    width: 70%;
    padding-top: 6px;
    text-transform: uppercase;
    font-weight: bold;
    color: #666666;
}


.spacer {
    height: 800px;
}

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/




    /*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
    
        .header .logo-container img {
    margin-left: auto;
    width: auto;
}
        .header .logo-container img {
    margin-left: auto;
    width: 100%;   
}
        
    ul.nav.navbar-nav {
    display: table;
    width: 100%;
    margin: 0;
}

 
        
ul.nav.navbar-nav > li {
    float:none;
    display:table-cell;
    text-align:center;
}
         
        .navbar.navbar-default.navbar-static-top {
    position: relative;
}
       
        .navbar.navbar-default.navbar-static-top {
            height: auto;
            padding-bottom: 0px;
}
        
        .search-container {
    margin-top: 0px;
}

        .navbar-collapse {
      margin-top: 0px;
    background-image: none;
}

        .navbar.navbar-default.navbar-static-top {
            width: 100%;
        }
        
        .newsletter-promo p {
    margin-top: -12px; 
}
        
        .megamenu.dropdown-menu {
    height: auto;
    overflow: auto;
}
        
        section.hero-slider {
    margin-top: -10px;
}
        
        .slider button {
    margin-top: 0px;
}
        
    .most-popular .most-popular-heading h2 {
    width: 25%;
}

        
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }



#7b7d78















